//
//   Last Update: 6 Sep 2016
// Xcode Version: 8 beta 6 (8S201h)
// Swift Version: 3 beta 6
//
// https://developer.apple.com/library/mac/documentation/DeveloperTools/Reference/XcodeBuildSettingRef/1-Build_Setting_Reference/build_setting_ref.html
//
// https://pewpewthespells.com/blog/buildsettings.html
//


SWIFT_VERSION = 3.0

ONLY_ACTIVE_ARCH = NO

DEBUG_INFORMATION_FORMAT = dwarf

GCC_OPTIMIZATION_LEVEL = fast

WARNING_CFLAGS = -Wall -Weverything -Wextra

ENABLE_NS_ASSERTIONS = NO

GCC_PREPROCESSOR_DEFINITIONS =

SWIFT_OPTIMIZATION_LEVEL = -Owholemodule

SWIFT_ACTIVE_COMPILATION_CONDITIONS =

OTHER_SWIFT_FLAGS = -Xfrontend -debug-time-function-bodies

RUN_CLANG_STATIC_ANALYZER = NO
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = deep
CLANG_STATIC_ANALYZER_MODE = deep

GENERATE_PROFILING_CODE = NO

GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = NO

COMBINE_HIDPI_IMAGES = YES

LD_NO_PIE = NO
GCC_DYNAMIC_NO_PIC = YES

GCC_NO_COMMON_BLOCKS = NO

GCC_UNROLL_LOOPS = YES

GCC_C_LANGUAGE_STANDARD = compiler-default

GCC_ENABLE_TRIGRAPHS = NO

CLANG_CXX_LANGUAGE_STANDARD = compiler-default
CLANG_CXX_LIBRARY = compiler-default

CLANG_ENABLE_MODULES = YES

CLANG_ENABLE_OBJC_ARC = YES

ENABLE_STRICT_OBJC_MSGSEND = NO

CLANG_WARN_SUSPICIOUS_MOVE = YES

CLANG_WARN_EMPTY_BODY = YES

CLANG_WARN_BOOL_CONVERSION = YES

CLANG_WARN_CONSTANT_CONVERSION = YES

GCC_WARN_64_TO_32_BIT_CONVERSION = YES

CLANG_WARN_ENUM_CONVERSION = YES

CLANG_WARN_INT_CONVERSION = YES

CLANG_WARN_IMPLICIT_SIGN_CONVERSION = YES

CLANG_WARN_INFINITE_RECURSION = YES

GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES

GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR

GCC_WARN_MISSING_PARENTHESES = YES

GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = NO

GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES

CLANG_WARN_ASSIGN_ENUM = YES

GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES

GCC_WARN_SIGN_COMPARE = NO

CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES

GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE

GCC_WARN_UNKNOWN_PRAGMAS = YES

CLANG_WARN_UNREACHABLE_CODE = YES

GCC_WARN_UNUSED_FUNCTION = YES

GCC_WARN_UNUSED_LABEL = YES

GCC_WARN_UNUSED_PARAMETER = YES

GCC_WARN_UNUSED_VARIABLE = YES

CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR

CLANG_WARN__DUPLICATE_METHOD_MATCH = YES

CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = YES

GCC_WARN_UNDECLARED_SELECTOR = YES

CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR

ENABLE_TESTABILITY = NO

ASSETCATALOG_COMPILER_OPTIMIZATION = time


//
// Security: Strip
//
GENERATE_MASTER_OBJECT_FILE = YES

DEPLOYMENT_POSTPROCESSING = YES

COPY_PHASE_STRIP = YES

STRIP_INSTALLED_PRODUCT = YES

SEPARATE_STRIP = YES

DEAD_CODE_STRIPPING = YES

GCC_GENERATE_DEBUGGING_SYMBOLS = NO

STRIP_STYLE = non-global

STRIPFLAGS = -x

