//--------------------------------------------------
//:configuration = Debug
ONLY_ACTIVE_ARCH = YES

//:completeSettings = none

//:configuration = Release
ONLY_ACTIVE_ARCH = NO

//:completeSettings = none


//--------------------------------------------------
//:configuration = Debug
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

//:completeSettings = none

//:configuration = Release
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

//:completeSettings = none


//--------------------------------------------------
//:configuration = Debug
COPY_PHASE_STRIP = NO

//:configuration = Release
COPY_PHASE_STRIP = YES

//:completeSettings = none


//--------------------------------------------------
//:configuration = Debug
STRIP_INSTALLED_PRODUCT = NO

//:configuration = Release
STRIP_INSTALLED_PRODUCT = YES

//:completeSettings = none


//--------------------------------------------------
//:configuration = Debug
GCC_OPTIMIZATION_LEVEL = 0

//:configuration = Release
GCC_OPTIMIZATION_LEVEL = fast

//:completeSettings = none


//--------------------------------------------------
//:configuration = Debug
WARNING_CFLAGS = -Wall -Weverything -Wextra

//:configuration = Release
WARNING_CFLAGS = -Wall -Weverything -Wextra

//:completeSettings = none


//--------------------------------------------------
//:configuration = Debug
ENABLE_NS_ASSERTIONS = YES

//:configuration = Release
ENABLE_NS_ASSERTIONS = NO

//:completeSettings = none


//--------------------------------------------------
//:configuration = Debug
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1

//:configuration = Release
GCC_PREPROCESSOR_DEFINITIONS =

//:completeSettings = none


//--------------------------------------------------
//:configuration = Debug
SWIFT_OPTIMIZATION_LEVEL = -Onone

//:configuration = Release
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule

//:completeSettings = none


//--------------------------------------------------
//:configuration = Debug
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG

//:completeSettings = none


//--------------------------------------------------
//:configuration = Debug
OTHER_SWIFT_FLAGS = -D DEBUG -Xfrontend -debug-time-function-bodies

//:configuration = Release
OTHER_SWIFT_FLAGS = -Xfrontend -debug-time-function-bodies

//:completeSettings = none


//--------------------------------------------------



//--------------------------------------------------





























