//
// Debug
//
//   Last Update: 30 sep 2017, version 15
// Xcode Version 9.1 beta (9B37)
// Swift Version: 4.0.0
//
// https://developer.apple.com/library/mac/documentation/DeveloperTools/Reference/XcodeBuildSettingRef/1-Build_Setting_Reference/build_setting_ref.html
//
// https://pewpewthespells.com/blog/buildsettings.html
//


//
// Swift
//
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_VERSION = 4.0
OTHER_SWIFT_FLAGS = -Xfrontend -debug-time-function-bodies -Xfrontend -warn-long-function-bodies=100 -Xfrontend -warn-long-expression-type-checking=100
SWIFT_PRECOMPILE_BRIDGING_HEADER = YES
SWIFT_SWIFT3_OBJC_INFERENCE = Default

//
// Build, Compile, Architecture
//
ENABLE_BITCODE = YES
ONLY_ACTIVE_ARCH = YES
RUN_CLANG_STATIC_ANALYZER = NO
WARNING_CFLAGS = -Wall -Weverything -Wextra
LD_NO_PIE = NO
VALIDATE_PRODUCT = NO

//
// Debug
//
DEBUG_INFORMATION_FORMAT = dwarf
DEBUG_INFORMATION_FORMAT[sdk=iphoneos*] = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT[sdk=iphonesimulator*] = dwarf
MTL_ENABLE_DEBUG_INFO = YES

//
// Clang
//
CLANG_CXX_LANGUAGE_STANDARD = compiler-default
CLANG_CXX_LIBRARY = compiler-default
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_STATIC_ANALYZER_MODE = deep
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = deep
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_ASSIGN_ENUM = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNREACHABLE_CODE = YES
// Swift 4
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES;    // Warn about block captures of implicitly autoreleasing parameters.
CLANG_WARN_COMMA = YES;    // Warn about suspicious uses of the comma operator.
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES;    // Warn about non-literal expressions that evaluate to zero being treated as a null pointer.
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES;    // Warn about implicit conversions from Objective-C literals to values of incompatible type.
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES;    // Warn about ranged-based for loops.
CLANG_WARN_STRICT_PROTOTYPES = YES;    // Warn about non-prototype declarations.
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_INTEGER = YES
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_NULLABILITY = YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES

//
// GCC
//
GCC_C_LANGUAGE_STANDARD = compiler-default
GCC_DYNAMIC_NO_PIC = YES
GCC_ENABLE_TRIGRAPHS = NO
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = YES
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 DEBUG
GCC_UNROLL_LOOPS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_SHADOW = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = YES
GCC_WARN_UNUSED_VARIABLE = YES

//
// Unsorted
//
ASSETCATALOG_COMPILER_OPTIMIZATION = time
EMBED_ASSET_PACKS_IN_PRODUCT_BUNDLE = NO
ENABLE_NS_ASSERTIONS = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
ENABLE_TESTABILITY = YES
GENERATE_PROFILING_CODE = YES
COMPRESS_PNG_FILES = NO
STRIP_PNG_TEXT = NO

//
// macOS
//
COMBINE_HIDPI_IMAGES[sdk=macos*] = YES

//
// Security: No Strip
//
COPY_PHASE_STRIP = NO
DEAD_CODE_STRIPPING = NO
DEPLOYMENT_POSTPROCESSING = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GENERATE_MASTER_OBJECT_FILE = NO
//SEPARATE_STRIP = NO    // Xcode 9, The build setting “Separate Strip” (SEPARATE_STRIP) is no longer displayed in the build settings editor, and it is no longer supported. Xcode always strips binaries in a separate task and no longer instructs the linker to perform the strip. (31584192)
STRIP_INSTALLED_PRODUCT = NO
STRIP_STYLE = all
STRIPFLAGS =
// Swift 4
STRIP_SWIFT_SYMBOLS = YES

